.App {
  
  
  
}

.cont{
  margin: 0px;
  padding: 0px;
 
}
.iletisim{
  
  color: white;
  margin-left: 20px;
 
 
}
.iletisim2{
  
  color: white;
  margin: 20px;
 
 
}
.mail{
  margin-top: 15px;
}

.footer2{
  margin-left: 40%;
  bottom: 0px;  

 
}
.yazi{
  color: white;
  text-transform: uppercase;
 font-size: 72px;
 margin-top: 0px;
}
.contact{
  color: white;
  font-size: 24px;
  
  text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(255, 90, 1);
    
}
.Ability{
  color: white;
  font-size: 24px;
  margin-top: -40px;
  text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: rgb(255, 90, 1);
}
.number{
  
  margin-top:-25px;
}
.react{
  margin:15px;
  font-size: 16px;

}
.react:hover{
  color:rgb(255, 90, 1);
}
.react:active{
  color:rgb(255, 90, 1);
}
.edit{
  color: white;
  font-size: 14px;
}
.bilgi{
  font-size: 12px;
}
.plan{
  color: white
}
.partical{
    
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    justify-content: center;
    align-items: center;
 
  }
  .divyazisi{
    color: white;
    top:50%;
    left: 40%;
   
    
    font-size: 72px;
    position: absolute
    
  }
  .yazimiz{
    justify-content: center;
    align-items: center;
    
  }
  .alt{
  position: absolute;
  bottom: 0;
    
    
    
  }
  .hareket{
    background-color:#2e2e2e;
    width: 100%;
    justify-content: center;
    align-items: center
  }
  .header{
    width: 100%;
    height: 110px;
    background-color: rgba(128, 128, 128, 0.253);
    z-index: 100;
     
    }
  .img{
    margin:10px;
    text-align: left;
    width: 150px;
    height: 100px;
    -webkit-animation:spin 8s linear infinite;
    -moz-animation:spin 8s linear infinite;
    animation:spin 8s linear infinite;
    
  }
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.banner{
  
}
.tanim{
  /* animation: blink 1s linear infinite; */
  
  color: white;
  font-family: 'Times New Roman', Times, serif;
}
 /* @keyframes blink {
  50%{ opacity: 0}
}  */

.skill{
  color: white;
  font-size: 72px;
  top:50%;
  position: absolute;
  left:15%;
}
.dizi{
  flex-direction: column
}
.imge{
  text-align: center;
  position: static
}